header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64.38px;
    padding: 5px 20px;
    box-sizing: border-box;
}
.main-nav {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 8px;
    text-decoration: none;
    color: #2c3e50;
}
.main-nav p {
    font-weight: bold;
    font-size: 16px;
}
.logo-link {
    height: 54px;
}
.main-nav a {
    text-decoration: none;
    font-weight: bold;
    color: #2c3e50;
}
.main-nav a:hover {
    text-decoration: underline;
}
.main-nav span {
    font-weight: bold;
    color: #2c3e50;
    margin-right: 5px;
}
.main-nav span:hover {
    text-decoration: underline;
    cursor: pointer;
}
.logout-btn {
    font-weight: bold;
    color: #2c3e50;
    border: none;
    background-color: white;
    font-size: 16px;
}
.logout-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}
.icone-btn {
    display: flex;
    align-items: center;
    gap: 5px;
}